body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  aspect-ratio: 16/9;
}
#game {
  grid-area: 1/1;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10% /10%;
  grid-template-rows: 100%;
}

/* udkommenteret da der  ikke er et billede */
/* background-image: url(svg/start.svg);
  background-size: cover; */

/* udkommenteret da der  ikke er et billede */
/* background-image: url(svg/game_over.svg);
  background-size: cover; */

/* udkommenteret da der  ikke er et billede */
/* background-image: url(svg/level_complete.svg);
  background-size: cover; */

#Dancefloor1 {
  grid-area: 1/1;
  background-image: url(img/Dancefloor1.png);
  background-size: cover;
  z-index: 1;
}
#Disco {
  grid-area: 1/1;
  background-image: url(Img/Disco.png);
  background-position: top center;
  background-size: 5.5cm;
  background-repeat: no-repeat;
  z-index: 2;
  overflow: hidden;
}
/*animation*/
#Disco {
  animation-name: Disco;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes Disco {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: rotateY(180deg);
  }
}
#Party_girl {
  grid-area: 1/1;
  background-image: url(img/Party_girl.png);
  background-position: bottom left;
  background-size: 10cm;
  background-repeat: no-repeat;
  z-index: 3;
  overflow: hidden;
}
/* spil elementer */
#Liste {
  grid-area: 1/1;
  background-image: url(img/Liste.png);
  background-position: top right;
  background-size: 9cm;
  background-repeat: no-repeat;
  z-index: 4;
  overflow: hidden;
}
